.hero {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
align-items: center;


  margin-left: auto;
  margin-right: auto;

  background-color: #c4c4c4;
  background-image: linear-gradient(
      to left,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../../../images/bg-images/bg-hero-mob.webp");
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: cover, cover;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to left,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../../../images/bg-images/bg-hero-tab.webp");
     
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    background-image: linear-gradient(
        to left,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../../../images/bg-images/bg-hero-desc.webp");
    
  }
}
